pip-tools
pandas
numpy
requests
tqdm
opencv-python
matplotlib
scipy
torch
torchvision
transformers
ipdb
scikit-image
timm
kornia
plotly
dash
scikit-learn
trimap
kmodes
umap
dash-extensions
torchmetrics
dash-bootstrap-components
captum
openai
