/* Adjusting some default behavior from Dash */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Base div for the other ones (background) */
.base-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #9b3636;
}

/* Tab option stylying */
.tab-option {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

/* Class of all the tabs */
.tab-parent {
    width: 100%;
    display: flex;
    align-items: center;
}

/* Class of tab selector */
.tab-container {
    width: 90%;
    height: 10vh;
}

/* Class of tab itslef */
.tab {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Class of tab content */
.tab-content {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div for the tool */
.tool-container {
    width: 90%;
    height: 90%;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding-top: 1.5%;
}

/* Title of the graph */
/* .graph-title {
    text-align: center;
    color: #062a57;
} */

/* Div for the sidebar and graph */
.sidebar-graph {
    display: flex;
    width: 98%;
    height: 90%;
    padding-left: 30px;
}

/* Div for the sidebar */
.sidebar {
    width: 20%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

/* Toggle button */
#toggle-view {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Add spacing between radio buttons and labels */
input[type="radio"] {
    margin-right: 5px;
}

/* Stylying filter label+dropdown */
.filter-dropdown {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: left;
    margin-top: 2px;
    margin-bottom: 10px;
    padding-left: 10px;
}

/* Removing spinners from filter input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Stylying dimensoes filter */
.filter-dimensoes {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

/* Stylying dimensoes input section */
.filter-input {
    display: flex;
    align-items: center;
}

/* Stylying dimensoes input container */
.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Stylying dimensoes input */
.dash-input {
    width: 60px;
    margin-right: 10%;
}

/* Stylying dropdowns */
.dash-dropdown {
    width: 90%;
}

/* Stylying dropdown text */
.VirtualizedSelectOption {
    font-size: .8em;
    white-space: nowrap;
}

/* Making dropdown a dropup for agrupamentos */
.cluster-dropup .Select-menu-outer {
    top: 0;
    -webkit-transform: translateY(3px) translateY(-100%);
    transform: translateY(3px) translateY(-100%);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ccc;
    border-bottom: none;
}

/* Div for the graph */
.graph {
    width: 80%;
    height: 75vh;
}

/* Graph, but from the Dash perspective */
#cluster-plot {
    height: 100%;
}

/* Hover box */
#graph-tooltip {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Hover box image */
.hover-box-image {
    width: 100%;
}

/* Hover box text */
.hover-box-text {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    white-space: normal;
}

/* Div for the timeline */
.timeline-container {
    width: 90%;
    height: 90%;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* timeline from Dash perspective */
#timeline {
    width: 97%;
    height: 95%;
}

/* Div for the map */
.map-container {
    width: 90%;
    height: 90%;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Map from Dash perspective */
#brazil-map {
    width: 97%;
    height: 95%;
}